* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background-color: #928cff;
}

.inputs {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    height: 120px;
    width: 300px;
    gap: 10px;
    display: flex;
    flex-direction: column;

}

h2 {
    font-size: 32px;
    text-align: center;
}

.data {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.data input {
    outline: none;
    border: 1px solid #928cff;
    padding: 5px;
    border-radius: 5px;

}

.data button {
    border: none;
    cursor: pointer;
    background-color: #928cff;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
}


.list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.box {
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
}

.item {
    background-color: #928cff;
    padding: 10px;
    margin: 4px;
    border-radius: 5px;
    color: #fff;
    cursor: move;
}